body {
    background: linear-gradient(to top, #e0bff5, #e8d8f2) fixed;
    margin:0;
}

table {
    position: absolute;
    top: 50%;
    margin-top: -9em;
    margin-left: 27em;
}
button {
    width: 70px;
    height: 70px;
    border-radius: 10px;
     cursor: pointer;
    background-color: #d3d3d3;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

button:hover {
        background-color: #a9a9a9;
        cursor: pointer;
    }

.operations {
    background-color:orange;
}

.operations:hover {
        background-color: darkorange;
        cursor: pointer;
    }

#display {
   font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -11em;
    margin-left: 20em;
    background-color: #f6fffa;
    border-color: grey;
     text-align: right;
    border-radius: 10px;
}

#calculate {
    width:142px;
}

#night {
   width: 200px;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #ffffff, #808080);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-align: center;
    color: black;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
    position: absolute;
    right: 0;
}

#day {
    width: 200px;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(to right, powderblue, pink);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
    position: absolute;
    right: 0;
}

.night-mode {
    background-color: black;
    color: white;
}
